.home-content{
	margin-top: 100vh;
    padding: 20px clamp(8px,8%,180px);
    
    background: white;
    box-shadow: 0 -4px 12px rgba(0,0,0,.12),0 1px 8px rgba(0,0,0,.16);
}

.home-hero{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;

    .home-hero-content{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: #003c8f;
            font-size: 2.1rem;
            margin: 0;
            font-weight: 800;
        }

        h2 {
            color: #000b30;
            font-size: clamp(2.2rem,5vw,4.5rem);
            margin: 10px 0;
            font-weight: 800;
            line-height: 1;
        }

        h3 {
            font-weight: 400;
        }
    }
}
.home-contact{
    margin-top: 80px;
    margin-bottom: 80px;

    .home-contact-email{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 2rem;
    }
    .home-contact-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.home-skills{
    margin-top: 80px;

    .home-skills-section{
        margin: 0px 50px 0 50px;

        h3{
            margin: 0;
        }

        p{
            margin: 0;
        }
    }
}

.home-services{
    margin-top: 80px;

    .home-services-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}
